
<!-- <div class="kitten" *ngFor="let kitten in _upgradesService.kittens">aslifhblasfibasf</div>
 <ul>
   <li *ngFor="let kitten in _upgradesService.kittens">kitten</li>
 </ul>-->
<div class="monster">
    {{_gameService.creature.name}} {{max_hp}}/{{_gameService.creature.hp}} {{_upgradesService.kittens.length}}
    <progress id="health" value={{_gameService.creature.hp}} max={{max_hp}}></progress>
<div class="monster4"
(click)="swing()"
[ngClass]="{
    'firstType': type == 1,
    'secondType': type == 2
  }"> 
</div>
</div>
<div class="gamelvl">Monsters killed:{{_gameService.gameLvl}} </div>
<div class="gold">{{_gameService.gold}}</div>
<div class="castle"></div>
<div ></div>
