<div class="sun"
*ngIf="gameService.isDay == true"></div>
<div class="moon"
*ngIf="gameService.isDay == false"></div>
<div class="kittens-fire">
  <div *ngFor="let kitten of upgradesService.kittensFire" class="kitten-fire"></div>
</div>
  <div class="kittens-rifle">
    <div *ngFor="let kitten of upgradesService.kittensRifle" class="kitten-rifle"></div>
  </div>
  <div class="kittens-frost">
    <div *ngFor="let kitten of upgradesService.kittensFrost" class="kitten-frost"></div>
  </div>
  <div class="kittens-lightning">
    <div *ngFor="let kitten of upgradesService.kittensLightning" class="kitten-lightning"></div>
  </div>
  <div class="kittens-karate">
    <div *ngFor="let kitten of upgradesService.kittensKarate" class="kitten-karate"></div>
  </div>
<div class="monster">
    {{gameService.creature.name}}, {{gameService.creature.title}} <br> {{gameService.creature.hp}}/{{maxHp}}
    <progress id="health" value={{gameService.creature.hp}} max={{maxHp}}></progress>
<div class="monster4"
(click)="swing()"
[ngClass]="{
    'firstType': type == 1,
    'secondType': type == 2
  }"> 
</div>
</div>
<div class="gamelvl">Monsters killed:{{gameService.gameLvl}} </div>
<div class="gold">{{gameService.gold}} <div class="coin"></div></div>
<div ></div>
