<div class="sun"
*ngIf="gameService.isDay == true"></div>
<div class="moon"
*ngIf="gameService.isDay == false"></div>
<div class="kittens-fire">
  <div *ngFor="let kitten of upgradesService.kittensFire" class="kitten-fire"></div>
</div>
  <div class="kittens-rifle">
    <div *ngFor="let kitten of upgradesService.kittensRifle" class="kitten-rifle"></div>
  </div>
  <div class="kittens-frost">
    <div *ngFor="let kitten of upgradesService.kittensFrost" class="kitten-frost"></div>
  </div>
  <div class="kittens-lightning">
    <div *ngFor="let kitten of upgradesService.kittensLightning" class="kitten-lightning"></div>
  </div>
  <div class="kittens-karate">
    <div *ngFor="let kitten of upgradesService.kittensKarate" class="kitten-karate"></div>
  </div>
<div class="monster">
  <div class="swing swing-white-r"
  *ngIf="upgradesService.swingType.type == 1 && upgradesService.swingType.side == 1"></div>
  <div class="swing swing-white-l"
  *ngIf="upgradesService.swingType.type == 1 && upgradesService.swingType.side == 2"></div>
  <div class="swing swing-orange-r"
  *ngIf="upgradesService.swingType.type == 2 && upgradesService.swingType.side == 1"></div>
  <div class="swing swing-orange-l"
  *ngIf="upgradesService.swingType.type == 2 && upgradesService.swingType.side == 2"></div>
  <div class="swing swing-green-r"
  *ngIf="upgradesService.swingType.type == 3 && upgradesService.swingType.side == 1"></div>
  <div class="swing swing-green-l"
  *ngIf="upgradesService.swingType.type == 3 && upgradesService.swingType.side == 2"></div>
  <div class="swing swing-dark-r"
  *ngIf="upgradesService.swingType.type == 4 && upgradesService.swingType.side == 1"></div>
  <div class="swing swing-dark-l"
  *ngIf="upgradesService.swingType.type == 4 && upgradesService.swingType.side == 2"></div>
    {{gameService.creature.name}}, {{gameService.creature.title}} <br> {{gameService.creature.hp}}/{{maxHp}}
    <progress id="health" value={{gameService.creature.hp}} max={{maxHp}}></progress>
<div class="monster4"
(click)="swing()"
[ngClass]="{
    'firstType': type == 1,
    'secondType': type == 2
  }"> 
</div>
</div>
<div class="gamelvl">Monsters killed:{{gameService.gameLvl}} </div>
<div class="gold">{{gameService.gold}} <div class="coin"></div></div>
<div ></div>
