.castle{
    position: absolute;
    top: 20vh;
    left: 30vw;
    height: 100px;
    width: 300px;
    background-image: url(src\assets\toppng.com-castle-pixel-art-651x431.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}