.castle{
    position: absolute;
    top: 22vh;
    left: 30vw;
    height: 100px;
    width: 300px;
    background-image: url(src\assets\toppng.com-castle-pixel-art-651x431.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gamelvl{
    position: absolute;
    top: 10px;
    right: 10px;
}
.gold{
    position: absolute;
    top: 10px;
    left: 40px;
}
.monster{
    position: absolute;
    top: 300px;
    right: 50vw;
}