<div class="upgrade_cont">
<div class="first"
(click)="_upgradesService.first_upgrade(_gameService.gold)">first_upgrade {{_upgradesService.first_upgrade_amount}}
<div class="cost">cost: {{_upgradesService.first_cost}}</div></div>
<div class="first"
(click)="_upgradesService.second_upgrade(_gameService.gold)">second_upgrade {{_upgradesService.second_upgrade_amount}}
<div class="cost">cost: {{_upgradesService.second_cost}}</div></div>
<div class="first"
(click)="_upgradesService.third_upgrade(_gameService.gold)">third_upgrade {{_upgradesService.third_upgrade_amount}}
<div class="cost">cost: {{_upgradesService.third_cost}}</div></div>
<div class="first"
(click)="_upgradesService.fourth_upgrade(_gameService.gold)">fourth_upgrade {{_upgradesService.fourth_upgrade_amount}}
<div class="cost">cost: {{_upgradesService.fourth_cost}}</div></div>
<div class="first"
(click)="_upgradesService.fifth_upgrade(_gameService.gold)">fifth_upgrade {{_upgradesService.fifth_upgrade_amount}}
<div class="cost">cost: {{_upgradesService.fifth_cost}}</div></div>
</div>  

