/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
.coin{
    background-image: url(src\assets\coin.png);
    height: 12px;
    width: 15px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}