.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    app-click-area{
        flex: 1;
        
      background-image: url(../assets/gambar-pemandangan-alam-kartun2.jpg);
     // background-image: url(../assets/asd.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: 255,255,255,0.8;
    }  
}
.iwillchangeit{
    display: flex;
    flex-direction: row;

app-graphic-area{
    flex: 1;
    height: 40vh;
    background-color: orange;
    border: 6px solid transparent;
  padding: 15px;
  border-image: url(../assets/1133.jpg) 6 round round;
  background-image: url(../assets/465.jpg);
  background-size: 40px;
}
app-upgrade-area{
    flex: 2;
    height: 40vh;
    border: 6px solid transparent;
  padding: 15px;
  border-image: url(../assets/1133.jpg) 6 stretch stretch;
  background-image: url(../assets/464.jpg);
  background-size: 40px;
}
}