<div class="power_up"
(click)="first()"
*ngIf="upgradeService.firstMultiplierAmount != 4">Fire Power Up  <span class="upgrade">-- Multiplies the efficiency of Fire  by 2</span><br> cost:{{upgradeService.firstMultiplierCost}}<div class="coin"></div></div>
<div class="second_upgrade power_up"
(click)="second()"
*ngIf="upgradeService.secondMultiplierAmount != 4">Rifle Power Up <span class="upgrade">-- Multiplies the efficiency of Rifle  by 2</span><br> cost:{{upgradeService.secondMultiplierCost}}<div class="coin"></div></div>
<div class="third_upgrade power_up"
(click)="third()"
*ngIf="upgradeService.thirdMultiplierAmount != 4">Frost Power Up <span class="upgrade">-- Multiplies the efficiency of Frost  by 2</span> <br> cost:{{upgradeService.thirdMultiplierCost}}<div class="coin"></div></div>
<div class="fourth_upgrade power_up"
(click)="fourth()"
*ngIf="upgradeService.fourthMultiplierAmount != 4">Lightning Power Up <span class="upgrade">-- Multiplies the efficiency of Lightning by 2</span> <br> cost:{{upgradeService.fourthMultiplierCost}}<div class="coin"></div></div>
<div class="fifth_upgrade power_up"
(click)="fifth()"
*ngIf="upgradeService.fifthMultiplierAmount != 4">Karate Power! <span class="upgrade">-- Multiplies the efficiency of Karate by 2</span> <br> cost:{{upgradeService.fifthMultiplierCost}} <div class="coin"></div></div>
